@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Nunito&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar{
    padding: auto;
    position: fixed;
    width: 100%;
    font-family: 'Munito', sans-serif;
}
.navbar.sticky{
    padding: 10px 0;
    background: crimson;
    transition: .5s ease-in;
}
.navbar.sticky .menu li a:hover{
    color: black;
}
.navbar-max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar .navbar-max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.navbar .nav-name i{
    font-size: 30px;
    color: white;

}
.navbar .nav-name a{
    color: white;
    font-size: 35px;
    font-weight: 600;
    margin-top: 20px;
    
}
.navbar .menu li {
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
}
/* menu btn design */
.menu-btn{
    color: white;
    font-size: 32px;
    cursor: pointer;
    display: none;
}

.home{
    display: flex;
    background: url("images/banner.jpg") no-repeat center;
    height: 100vh;
    color: white;
    min-width: 500px;
}
.home .max-width{
    margin: auto 0 auto 40px;

}
.home .home-content .text-1{
    font-size: 25px;
    font-family: 'Manrope', sans-serif;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    font-family: 'Manrope', sans-serif;
}
.home .home-content .text-3{
    font-size: 30px;
    margin: 5px 0;
    font-family: 'Manrope', sans-serif;
}
.home .home-content .text-3 .html{
    color: #F06529;
    font-family: 'Nunito', sans-serif;
}
.home .home-content .text-3 .css{
    color: #e31b5f;
    font-family: 'Nunito', sans-serif;
}
.home .home-content .text-3 .javascript{
    color: #F0DB4F;
    font-family: 'Nunito', sans-serif;
}

/* responsive media query */
@media (max-width: 972px){
    .max-width{
        padding: 0 50px;
        margin: 0px;
    }
    .home .max-width{
        top: 500px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        margin: 0px;
        padding: 0px;
        left: 0px;
        top: -1em;
        position: fixed;
        height: 100vh;
        width: 100%;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all .3s ease;
    }
    .navbar .menu.active{
        left: 100%;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .navbar.sticky .menu li a:hover{
        color: crimson;
    }
}